.homepage {
  background-color: #f9f9f9;
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
}

.section-title {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 1.8rem;
  color: #333;
}
.sub-title {
text-align: center ;
opacity: 50%;
margin-bottom: 1rem;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 0 2rem;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  padding: 3rem;
}
